body {
  background: radial-gradient(ellipse at bottom, #022227 0%, #000000 100%);
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  
  display: grid;
  place-items: center;
}

@keyframes shine {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 200%;
  }
}

h1{
  margin: 0;
  font-family: "Montserrant", sans-serif;
  font-size: 30vh;
  letter-spacing: 1vw;
  color: white;
  background: url("https://images.unsplash.com/photo-1518495973542-4542c06a5843?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY1MDU1MTE5Nw&ixlib=rb-1.2.1&q=85");
  background-size: auto 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}
